section.it-advantages
	.it-all-title
		|	Преимущества медицинского центра Anadolu
	.it-all-subtitle
		|    В стационаре вместе с пациентом бесплатно может проживать родственник или близкий человек.
		| МЦ «Анадолу» — это оптимальный выбор клиники для тех, кто нуждается в лечении онкологии за рубежом.
	.it-container
		ul.it-advantages__wrap
			li.it-advantages__item
				.it-advantages__title
					|	Технологии
				.it-advantages__desc
					|	Уровень медицинской квалификации врачей и технологий лечения не уступает клиникам США
				.it-advantages__img-box
					img(src="static/img/anadolu/advantages/1.jpg", alt='').it-advantages__img
				.it-advantages__img-box
					img(src="", alt='').it-advantages__img
			li.it-advantages__item
				.it-advantages__title
					|	Опытные врачи
				.it-advantages__desc
					|	Большинство врачей МЦ «Анадолу» работали, учились и повышают квалификацию в клиниках США и Европы
				.it-advantages__img-box
					img(src="", alt='').it-advantages__img
				.it-advantages__img-box
					img(src="", alt='').it-advantages__img
			li.it-advantages__item
				.it-advantages__title
					|	Сервис
				.it-advantages__desc
					|	Поможем оформить документы для перелета, встретим в аэропорту, заселим в отель, закрепим за вами бесплатного переводчика.
				.it-advantages__img-box
					img(src="", alt='').it-advantages__img
				.it-advantages__img-box
					img(src="", alt='').it-advantages__img
			li.it-advantages__item
				.it-advantages__title
					|	Ведение пациента
				.it-advantages__desc
					|	После лечения продолжим бесплатно консультировать по любым вопросам
				.it-advantages__img-box
					img(src="", alt='').it-advantages__img
				.it-advantages__img-box
					img(src="", alt='').it-advantages__img