section.it-answers
	.it-container
		.it-all-title
			|    Ответы на часто задаваемые вопросы
		.it-all-subtitle
			|    Для вашего удобства мы собрали наиболее частые вопросы пациентов и ответили на них.
			br
			| Если не нашли ответа на свой вопрос,&#32;
			a(href="#").it-all-link
				| свяжитесь с нашим региональным представителем.
		.it-answers__wrap
			ul.it-answers__list(data-it-accord-wrap='')
				li.it-answers__item
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Вы точно сможете помочь? Даете ли вы гарантии на лечение?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							|    Гарантии в лечении онкологических заболевание дать сложно, здесь нужно учитывать стадию заболевания, возраст, состояние пациента и т.д.
							| Конечно, если к нам поступил пациент с операбельной опухолью и без метастаз, то 100 % гарантию мы можем дать, если же к нам поступил запрос о то, что у пациента 4 стадия, метастазы везде, где только можно, то ни о каком выздоровлении мы не можем вести речь, в данном случае если это возможно, то будет рекомендована паллиативная помощь, т.е. продления жизни, на год, два, три, пять.
				li.it-answers__item
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Общие обследования:
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							|    Гарантии в лечении онкологических заболевание дать сложно, здесь нужно учитывать стадию заболевания, возраст, состояние пациента и т.д.
							| Конечно, если к нам поступил пациент с операбельной опухолью и без метастаз, то 100 % гарантию мы можем дать, если же к нам поступил запрос о то, что у пациента 4 стадия, метастазы везде, где только можно, то ни о каком выздоровлении мы не можем вести речь, в данном случае если это возможно, то будет рекомендована паллиативная помощь, т.е. продления жизни, на год, два, три, пять.
				li.it-answers__item
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Какие методы лечения используются в вашей клинике?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							|    Гарантии в лечении онкологических заболевание дать сложно, здесь нужно учитывать стадию заболевания, возраст, состояние пациента и т.д.
							| Конечно, если к нам поступил пациент с операбельной опухолью и без метастаз, то 100 % гарантию мы можем дать, если же к нам поступил запрос о то, что у пациента 4 стадия, метастазы везде, где только можно, то ни о каком выздоровлении мы не можем вести речь, в данном случае если это возможно, то будет рекомендована паллиативная помощь, т.е. продления жизни, на год, два, три, пять.
				li.it-answers__item(data-it-accord-wrap-item)
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Общие обследования:
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							|    Гарантии в лечении онкологических заболевание дать сложно, здесь нужно учитывать стадию заболевания, возраст, состояние пациента и т.д.
							| Конечно, если к нам поступил пациент с операбельной опухолью и без метастаз, то 100 % гарантию мы можем дать, если же к нам поступил запрос о то, что у пациента 4 стадия, метастазы везде, где только можно, то ни о каком выздоровлении мы не можем вести речь, в данном случае если это возможно, то будет рекомендована паллиативная помощь, т.е. продления жизни, на год, два, три, пять. мы можем дать, если же к нам поступил запрос о то, что у пациента 4 стадия, метастазы везде, где только можно, то ни о каком выздоровлении мы не можем вести речь, в данном случае если это возможно, то будет рекомендована паллиативная помощь, т.е. продления жизни, на год, два, три, пять.
				li.it-answers__item(data-it-accord-wrap-item)
					.it-answers__toggle(data-it-accord-toggle='')
						h3.it-answers__title Какое количество сопровождающих вы можете разместить вместе с пациентом?
						.it-answers__sign-wrap(data-it-sign='')
					.it-answers__content(data-it-accord-item='')
						.it-answers__desc
							|    Гарантии в лечении онкологических заболевание дать сложно, здесь нужно учитывать стадию заболевания, возраст, состояние пациента и т.д.
							| Конечно, если к нам поступил пациент с операбельной опухолью и без метастаз, то 100 % гарантию мы можем дать, если же к нам поступил запрос о то, что у пациента 4 стадия, метастазы везде, где только можно, то ни о каком выздоровлении мы не можем вести речь, в данном случае если это возможно, то будет рекомендована паллиативная помощь, т.е. продления жизни, на год, два, три, пять.
				li.it-answers__all-more(data-show-block="data-it-accord-wrap-item"  data-show-more-button="Скрыть дополнительные  вопросы и ответы" )
						span.it-answers__all-more-text(data-show-more-text)
							|   Показать еще вопросы и ответы